{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "spread": true,
      "arrowFunctions": true,
      "defaultParams": true,
      "blockBindings": true,
      "templateString": true,
      "forOf": true,
      "destructing": true,
      "classes": true,
      "generators": true,
      "restParams": true,
      "superInFunctions": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "chai": true,
    "expect": true,
    "sinon": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "mocha/no-exclusive-tests": "error",
    "semi": [0, "never"]
  },
  "settings": {
    "react": {
      "createClass": "createClass", // Regex for Component Factory to use, default to "createClass"
      "pragma": "React", // Pragma to use, default to "React"
      "version": "15.0" // React version, default to the latest React stable release
    }
  },
  "plugins": [
    "react",
    "mocha"
  ]
}
